@{
    ViewBag.Title = "About The Equestrian";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="div-about">
<p>The sheer feeling of being one mind in two bodies; when one being can think a thought and another can feel it and react accordingly. The affinity shared with another spirit that is in perfect harmony with ones own, to such an extent that the spoken word is unnecessary. Learning to trust another so implicitly, that through their belief in you, you learn to trust more in yourself. The clarity of understanding that to master a horse, humbling oneself and acknowledging inferiority of intelligence is paramount.
    
    <blockquote>This is the nature of riding. This is the nature of Horse.</blockquote> 

Since our beginnings as a small initiative driven by a handful of individuals, we have striven to enhance this connection and by doing so, contribute what we can to this beautiful sport.</p>
</div>