@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>By Horse</strong><br />
    Equestrian Street 60<br />
    831 48 Östersund<br />
    Sweden<br />
    <br />
    <i class="glyphicon-earphone"></i> +46(0)63-124500
</address>

<address>
    <strong>Orders:</strong>   <a href="mailto:orders@ilovemyhorse.com">Orders@ilovemyhorse.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@ilovemyhorse.com">Marketing@ilovemyhorse.com</a>
</address>